#footer{
    width: 100%;
    background: #111;
    color: white;
    margin-top: 80px;
}

.footer-container{
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;

    padding: 60px 20px;
}

.footer-section h2{
    margin-bottom: 15px;
    font-size: 28px;
}

.footer-section h3{
    margin-bottom: 15px;
    font-size: 22px;
}

.footer-section p{
    color: #cfcfcf;
    line-height: 1.8;
}

.footer-section a{
    display: block;
    color: #cfcfcf;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.3s;
}

.footer-section a:hover{
    color: red;
}

.socials{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.socials svg{
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.socials svg:hover{
    color: red;
    transform: translateY(-3px);
}

.footer-bottom{
    border-top: 1px solid #333;
    text-align: center;
    padding: 20px;
    color: #aaa;
}

@media(max-width:900px){

    .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:600px){

    .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .socials{
        justify-content: center;
    }
}
.contact-info p{
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-info svg{
    font-size: 18px;
    color: red;
}